/* Variáveis */
:root {
    font-size: 17px;
    --blue: #3299ff;
    --semi-white: #eee;
    --semi-black: #333;
    --content-size: 80vw;
    --danger-red: rgb(221, 87, 87);
    --ok-green: #71cc71;
}

/* Alterações Genéricas */
* {
    margin: 0;
}

body {
    font-family: monospace, sans-serif;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

table {
    width: var(--content-size);
    margin: auto;
    margin-top: 10px;
    background-color: #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

thead th {
    padding: 8px;
}

tbody tr {
    background-color: #eee;
}

table td {
    text-align: center;
    padding: 5px;
}

table tbody tr:nth-child(odd) {
    background-color: white;
}

/* Classes */
.blue { color: var(--blue); }

.input-block {
    display: block;
    margin: 10px 0px;
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(50, 50, 50, 0.4);
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit {
    color: white;
    background-color: var(--blue);
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

.btn-delete {
    display: block;
    color: white;
    font-weight: bold;
    padding: 6px;
    max-width: 28px;
    background-color: var(--danger-red);
    border-radius: 5px;
    text-decoration: none;
    margin: auto;
}

.alert {
    width: var(--content-size);
    font-size: 1.1rem;
    margin: auto;
    margin-top: 23px;
    margin-bottom: -8px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    border-radius: 3px;
}

.alert-danger {
    background-color: var(--danger-red);
}

.alert-success {
    background-color: var(--ok-green);
}

/* Alterações especificas */
#main {
    margin: 20px;
}

#main > h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

#main-book-icon {
    width: 80px;
    height: 80px;
}

#book-form {
    width: var(--content-size);
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
}

/* Alteração para mobile */
@media screen and (max-width: 425px) {
    :root {
        font-size: 18px;
    }
    
    #main > h1 {
        font-size: 2.4rem;
    }
}
